{% extends "root.html" %}
{% block header %}Introducción{% endblock %}
{% block titulo %}Introducción{% endblock %}
{% block principal %}
<p class="texto">El objetivo de este trabajo práctico consiste en estudiar algunas de las propiedades astrofísicas del Sol, nuestra estrella madre, valiéndonos de un sencillo experimento y una serie de ecuaciones de radiación y otras de calorimetría. Principalmente, buscamos obtener la constante solar, la luminosidad del Sol y su temperatura superficial.</p>
<br />
<p class="texto">¿Qué podemos extraer de esto? Si fuésemos capaces de medir la cantidad de energía que recibe un recipiente de área conocida en la superficie terrestre podríamos calcular, por ejemplo, la temperatura del Sol. </p> 
{% endblock %}